<div class="row">
    <div class="col-s12-m6">
      <div class="card black darken-1">
        <div class="card-content white-text">
          <p><%= simple_format(blog.text + "メーン！") %></p>
          <style> 
          .card {
            width:60%;
            margin:20px  auto 0 auto;
            min-width:400px;
          }
          </style>
        </div>
        <% if user_signed_in? && current_user.id == blog.user_id %>
          <div class="card-action">
            <%= link_to '編集するメーン',"/blogs/#{blog.id}/edit", method: :get%>
            <%= link_to '削除するメーン', "/blogs/#{blog.id}", method: :delete %>
          </div>
        <% end %>
      </div>
  </div>
</div>